header{
	Background-color: #D43B1A;
	padding: 30px;
}

h1 {
	text-align: center;
	font-family: proxima-nova, sans-serif; 
	font-weight: bold;
	color: #FDFDFD;
}

h2 {
	text-align: center;
	font-family: proxima-nova, sans-serif; 
	font-weight: bold;
	padding-top: 30px;
}

#main-menu {
	background-color: #D43B1A;
}

#main-menu a {
	color: #FDFDFD;
	font-weight: bold;
	font-size: 30pt;
}

#main-menu li{
	text-align: left;
	font-family: proxima-nova, sans-serif; 
	font-size: 30pt;
	color: #FDFDFD;;
}

.close{
	width: 27px;
	height: 27px;
}

.details {
	font-family:proxima-nova, sans-serif;
	font-weight: bold;
	border-style: solid;
	border-color: black;
}

.menu{
	width: 27px;
	height: 27px;
}

.image{
	padding-right: 10px;
	padding-top: 10px;
}

img {
	width: 100;
	height: 100px;
}

p {
	font-family: proxima-nova, sans-serif;
	padding-top: 30px;
	margin-left: 20px;
}

.galleries {
	display: block;
	display: inline;
	margin-left: auto;
	margin-right: auto;
  width: 250px;
  height: 170px;
  padding: 10px;
}

.photos {
	text-align: center;
}

footer{
	font-family:proxima-nova, sans-serif; 
	color: #FDFDFD;
	font-weight: bold;
	background-color: gray;
	padding: 30px;
}

footer img{
	width: 20px;
	height: 20px;
}

.tweet{
	width: 90px;
	height: 20px;
}

.foot {
	display: block;
	display: inline;
	margin-left: auto;
	margin-right: auto;
}

.container {
  position: relative;
  width: 50%;
  margin: auto;
}

.over {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: auto;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #D43B1A;
}

.container:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 27px;
  font-family:proxima-nova, sans-serif; 
	font-weight: bold;
	text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.event {
	padding: 20px;
}
